<div class="container mt-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <h4 class="mb-3">トレーニング編集</h4>
      <%= render 'layouts/error',error:@training %>
      <%= render "trainings/training_form",training:@training %>
    </div>
  </div>
</div>