<table class="table table-borderless">
    <% @messages.each do |message| %>
      <% if message.user == current_user %>
        <tr>
          <td></td>
          <td style="width: fit-content;">
            <p class="text-right text-dark border border-dark rounded-pill p-2"><%= message.message %></p>
          </td>
        </tr>
      <% else %>
        <tr>
          <td>
            <p class="text-left bg-primary text-white rounded-pill p-2"><%= message.message %></p>
          </td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
</table>