<%= form_with model:[training,comment],local:false do |f| %>
  <div class="form-group">
    <%= f.text_area:comment ,class:"form-control border-dark" %>
  </div>
    <%= f.submit "送信",class:"btn btn-success" %>
<% end %>