<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h1 class="text-center">MTMS(Muscle Training Memo SNS)</h1>
  <p>コロナ禍の中で運動不足解消のために、ジムに通う方が増えています。トレーニングを行うことで、ダイエットや体型維持に役立つほか、免疫力向上やストレス解消など様々なメリットがあります。</p>
  <p>しかし、ジムに通い始めてから1年間ジムに通い続けられる人は約4％と言われています。せっかくジムでトレーニングを始めたのに、続けられないのはとてももったいないことだと思います。</p>
  <p>
    トレーニングを続けられない理由として<br>
    ①成長を実感できない<br>
    ②励まし会える仲間がいない<br>
    これらが、要因であり、モチベーションが上がらず、途中で辞めてしまうのではないかと考えました。
  </p>
  <p>そこでSNSでトレーニングの記録を投稿でき、また人の投稿を見て参考にし、ユーザー同士でコミュニケーションを行うことができ、励まし合うサービスがあれば、トレーニングを楽しく継続することができると思い、アプリを作成しました。</p>
</div>