<div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
  <h1><img src="/assets/45748.png" class="img-fluid max-width: 10% height: auto" alt="">MTMS</h1>
  <p>このサイトは、日々のトレーニング内容を記録することが出来るSNSです！</p>
  <p>記録する他に、他のユーザーのトレーニング内容を確認でき、コミュニケーションを取ることも出来ます！</p>
  <p>皆で楽しくトレーニングを続けよう！</p>
</div>