<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h1 class="text-center"><%= image_tag asset_path("dum-left.png") %>MTMS<%= image_tag asset_path("dum-right.png") %></h1>
  <p>このサイトは、日々のトレーニング内容を記録することが出来るSNSです！</p>
  <p>記録する他に、他のユーザーのトレーニング内容を確認でき、コミュニケーションを取ることも出来ます！</p>
  <p>皆で楽しくトレーニングを続けましょう！</p>
</div>