@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.simple-calendar {
 .td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .day {}
 .wday-0 {color: red;}
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {color: blue;}
 .today {background:#FFFF99;}
 .past {}
 .future {}
 .start-date {}
 .prev-month {background:	#CCCCCC;}
 .next-month {background:	#CCCCCC;}
 .current-month {}
 .has-events {background: #98fb98;}
}

#messages{
  padding: 20px 10px;
  margin: 15px auto;
  text-align: right;
  font-size: 20px;
  word-wrap: break-word;
}

.fukidasi {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.fukidasi .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.fukidasi .faceicon img{
  width: 90%;
  height: auto;
}

.fukidasi .chatting {
  width: 100%;
  text-align: left;
}

.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says p {
  margin: 0;
  padding: 0;
}

.says_image {
  margin: 10px 0 0 50px;
}

.mycomment {
  margin: 10px 0;
}

.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #00BFFF;
  font-size: 20px;
  text-align: left;
}

.mycomment_image{
  margin: 10px 0;
}

table {
  th{white-space: nowrap;}
  td{word-break:break-word}
}

.btn{
  white-space: nowrap;
}

img{
  border-radius: 50%;
}