<div class="col-md-8 col-sm-12">
  <h2><%= @group.group_name %>のグループチャット</h2>
  <div id="message_index">
    <%= render "group_chats/chat_index",group_chats:@group_chats %>
  </div>
  <div class="message_form">
    <%= render "group_chats/chat_form",group_chat:@group_chat %>
  </div>
</div>