<% if error.errors.any? %>
  <h3><%= error.errors.count %> error prohibited this obj from being saved:</h3>
  <ul>
    <% error.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>