<% if error.errors.any? %>
  <h4><%= error.errors.count %> 件のエラーが発生したため、保存できませんでした。</h4>
  <ul>
    <% error.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>